.light {
    --bg-color: #6767b0;
    --inverted-bg-color: #090949;
    --primary-color: #005870;
    --secondary-color: #049fd3;
    --inverted-primary-color: #00704e;
    --inverted-secondary-color: #02c99b;
}
